footer {
    display: flex;
    flex-direction: column;

    width: 1440px;
}

#footer-info {
    gap: 115px;
    display: flex;
    padding: 64px;
    align-items: center;
    justify-content: center;
    background-color: #EAF2FD;

    margin-top: 64px;

    height: 381px;
}

#footer-links {
    gap: 24px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: 176px;
}

#footer-link {
    color: #46464646;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

#footer-contact {
    gap: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: 560px;
}

#footer-contact > p {
    line-height: 19px;
    font-weight: 700;
    font-size: 16px;
}

#footer-contact > button {
    gap: 10px;
    color: #FFFFFF;
    border: none;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    background-color: #2A7AE4;

    height: 51px;
}

#footer-contact-fields {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    position: relative;

    width: 560px;
}

#footer-contact-fields > input {
    color: #464646;
    outline: none;

    padding-top: 20px;
    padding-left: 12px;

    border: none;
    border-radius: 4px;
    border-bottom: 2px solid #C8C8C8;

    line-height: 20px;
    font-weight: 400;
    font-size: 16px;

    width: 560px;
    height: 56px;
}

#footer-contact-fields > input + label {
    color: #A2A2A2;

    position: absolute;
    left: 12px;
    top: 12px;

    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
}

#footer-contact-fields > textarea {
    resize: none;
    outline: none;
    padding: 12px;

    margin-top: 16px;

    border: none;
    border-radius: 4px;
    border-bottom: 2px solid #C8C8C8;

    line-height: 20px;
    font-weight: 400;
    font-size: 16px;

    width: 560px;
    height: 82px;
}

#footer-contact-fields > textarea::placeholder {
    color: #A2A2A2;

    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
}

#footer-developer {
    color: #46464646;
    padding: 32px;
    background: #fff;
    text-align: center;

    font-weight: 500;
    font-size: 16px;

    height: 102px;
}

#footer-developer > a, a:visited, a:link, a:hover, a:active {
    color: #46464646;
    text-decoration: none;
}

