header {
    display: flex;
    padding: 0px;
    background: #fff;
    align-items: flex-start;
    flex-direction: column;

    width: 1440px;
}

#header-top-bar {
    gap: 611px;
    display: flex;
    padding: 32px 0px;
    align-items: center;
    justify-content: space-between;

    position: relative;
    left: 152px;

    width: 1136px;
    height: 115px;
}

#header-top-bar > #left-side {
    gap: 32px;
    display: flex;
    padding: 0px;
    align-items: center;

    width: 376px;
    height: 40px;
}

#header-top-bar > #left-side > #logo-img {
    width: 151px;
    height: 40px;
}

#header-top-bar > #left-side > #search-bar {
    gap: 8px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: 20px;
    background-color: #F5F5F5;

    width: 393px;
    height: 40px;
}

#header-top-bar > #left-side > #search-bar button {
    border: none;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/search-icon.svg");
    background-color: transparent;

    width: 24px;
    height: 24px;
}

#header-top-bar > #left-side > #search-bar input {
    color: #00C6CC;
    border: none;
    outline: none;
    background: transparent;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    width: 329px;
    height: 16px;
}

#header-top-bar > #left-side > #search-bar input::placeholder {
    color: #A2A2A2;
}

#header-top-bar > #btn-login {
    gap: 10px;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 16px;
    background: transparent;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    width: 182px;
    height: 51px;
}

