#header-banner {
    gap: 16px;
    display: flex;
    padding: 32px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    background-position: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.8) 100%), url("../images/banner.png");

    top: 115px;

    width: 1440px;
    height: 352px;
}

#header-banner-content {
    gap: 16px;
    display: flex;
    padding: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;

    width: 1136px;
    height: 170px;
}

#header-banner-content-title {
    color: #FFFFFF;

    font-size: 52px;
    line-height: 61px;

    width: 751px;
    height: 61px;
}

#header-banner-content-subtitle {
    color: #FFFFFF;

    font-size: 22px;
    font-weight: 700;
    line-height: 26px;

    width: 751px;
    height: 61px;
}

#header-banner-content-btn-view {
    gap: 10px;
    color: #FFFFFF;
    border: none;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    background-color: #2A7AE4;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    width: 130px;
    height: 51px;
}

