form {
    display: flex;
    justify-content: center;

    width: 1440px;
}

#login-form {
    gap: 32px;
    border: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

#login-form > input {
    color: #464646;
    outline: none;

    padding: 0px 12px;

    border: none;
    border-radius: 4px;
    border-bottom: 2px solid #C8C8C8;

    line-height: 20px;
    font-weight: 400;
    font-size: 16px;

    width: 560px;
    height: 56px;
}

#login-form > input + label {
    color: #A2A2A2;

    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
}

#login-form > button {
    gap: 10px;
    color: #FFFFFF;
    border: none;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    background-color: #2A7AE4;

    height: 51px;
}

