main {
    gap: 64px;
    display: flex;
    margin-top: 64px;
    align-items: flex-start;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: column;
}

.product {
    gap: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.product-title {
    color: #464646;

    font-weight: 500;
    font-size: 14px;
}

.product-price {
    color: #464646;

    font-weight: 700;
    font-size: 16px;
}

.btn-see-product {
    color: #2A7AE4;
    border: none;
    background: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.products-list {
    gap: 16px;
    display: flex;
    align-items: flex-start;

    position: relative;
    left: 152px;
}

.title-line {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;

    position: relative;
    left: 152px;

    width: 1136px;
}

.title-line > p {
    color: #464646;

    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.btn-see-more {
    gap: 8px;
    color: #2A7AE4;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    font-size: 16px;
    font-weight: 700;
}

